@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.Header{
    padding: 1rem 0rem;
    /* background-color: rgb(231, 231, 231); */
}

.menu{
    color: black;
}

.Header {
    /* position: sticky;
    top: 0%; */
    z-index: 1000;
    background-color: #ffffff;
}
.Header  .navbar-nav{
    display: flex;
    align-items: center;
}
.Header  .navbar-nav a {
    text-decoration: none;
    display: flex;
    align-items:center;
    padding: 5px 10px;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;

}

#brand-logo svg{
    width: 175.748px;
     height:42.52px; 
}

 
.active, .Header  .navbar-nav a:hover {
    color: #fed700 !important;
}



.support{
    font-family: 'Open Sans', sans-serif;
   padding: 0px 1rem;
}

.support strong{
    float: right !important;
}


.header-bottom{
    background-color: #fed700;
    margin-top: 15px;
}

#sidebar-menu-icon svg{
    color: rgb(0, 0, 0);
    margin-right: 15px;
    cursor: pointer;

}

.sidebar{
    width: max-content;
    position: fixed;
    top: 0%;
    left: -150%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    transition: 0.4s linear;
    box-shadow: 5px 0px 15px rgba(173, 173, 173, 0.205);
    /* overflow: hidden; */
    z-index: 1001;
}


.sidebar-content{
    width: 100%;
    height:70%;
    margin-top: 30px;
    /* background-color: red; */
    overflow: scroll;
}

.sidebar-content div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.sidebar-content div a{
    margin: 0%;
    padding: 0.6rem 0rem;
    font-family: 'Open Sans', sans-serif;
    transition: 0.2s linear;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
}

.sidebar-content div:hover > a {
    color: #fed700;
}
.sidebar-content div svg{
    transition: 0.2s linear;
    
}

.sidebar-content div:hover > svg{
    color: #fed700;
}

.shopMoreDropdown a{
    color: black !important;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}


#searchbar{
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#searchbar input[type=text]{
    width: 95%;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    color: #313131;
}

#searchbar ::placeholder{
    color: rgb(179, 179, 179);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.compare-cart .nav   a{
    color: black !important;
    text-decoration: none;
    padding: 0% 10px;
}

/* .active, .compare-cart > .navbar-nav > a:hover {
    color: #131313 !important;
  } */


  

  .active, .btn:hover {
    background-color: rgba(102, 102, 102, 0);
}

/* Mobile Header */
.mobile-header{
    background-color: #fed700;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    display: none;
    position: sticky;
    top: 0%;
    z-index: 100;
}


.mobile-header-left{
    display: flex;
    align-items: center;
    position: fixed;
    /* background-color: blue; */
}

#mobile-header-left-logo svg{
    width: 100px;
}

.mobile-header-right-search{
    padding: 0.5rem;
}

.mobile-header-right-search-input{
    
  
    width: 100%;
    padding: 1rem;
    /* background-color: blueviolet; */
    position: absolute;
    display: none;
}

.mobile-header-right-search-input-btn{
    background: black !important;
    border: black !important;
}

.mobile-header-right-search-input-btn:hover{
    box-shadow: none !important;
}

.Input-group{
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.288);
}

.mobile-header-right-user{
    padding: 0.5rem;
}

.mobile-header-right-user svg{
    width: 20px;
}
.mobile-header-right-cart{
    padding: 0.5rem;
}


.mobile-header-right-cart{
    position: relative;
    /* background-color: green; */
}

#cart-item-no{
    position: absolute;
    bottom: 0%;
    left: 60%;
    width: 20px;
    height: 20px;
    background-color: rgb(43, 43, 43);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    color: rgb(255, 255, 255);
}
#Cart{
    position: relative;
    /* width: 20px; */
    /* background-color: hotpink; */
}
#cart-item-no-1{
    position: absolute;
    bottom: 0%;
    left: 60%;
    width: 20px;
    height: 20px;
    background-color: rgb(43, 43, 43);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    color: rgb(255, 255, 255);
}

#dummy2{
    display: none;
}

#dummy4{
    display: none;
}

.Header .dropdown-menu.show{
    padding: 1rem !important;
}
