@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/* 211px */
@media (max-width: 335.98px) { 
   /* .sidebar{
       display: none !important;
   } */
   #d-none{
    display: none;
}
.Carousel{
    display: none !important;
}

}

/* 400px */
@media (max-width: 499.98px) { 
    .sidebar{
        /* padding: 3px !important; */
        width: 100vw !important;
    }
    .sidebar-content{
        width: 100% !important;
    }
    #sidebar-logo svg{
        width: 75.748px ;
         height:42.52px ;
    }
    .Carousel-item-text p{
        display: none !important;
    }
   
 }

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    /* .Carousel-item-text{
        width: 100%;
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));
    }
    .Carousel-item-text h3{
        /* color: rgb(255, 255, 255) !important; */
    /* }
    .Carousel-item-text p{
        color: rgb(255, 255, 255) !important;
    } */ 
    .Carousel-item img{
        height: 150px !important;
        width: 150px !important;
    }
    .Carousel-item-text h3{
        font-size: 20px !important;
    }
    .Carousel-item-text p{
        font-size: 12px !important;
    }
    .Carousel-item-text{
        width: 50% !important;
        top: 40px !important; 
        
     }
   
    
 }

/* /* // Small devices (landscape phones, less than 768px) */ 
@media (max-width: 767.98px) {
    /* .sidebar{
        width: 50% !important;
    } */

    .Card{
        width: 100% !important;
    }
    .card-col{
        flex-direction: column !important;
    }

    #RecentlyViewed-section{
        display: grid !important;
        grid-template-columns: auto auto  !important;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }

   
    .TabMiddle___1{
        order: 1 !important;
    }

    .featured-shopcard{
        display: grid;
        grid-template-columns: auto   !important;
        justify-content: center !important;
        align-items: center;
        grid-row-gap: 5px;
        grid-column-gap: 5px !important;
        width: 100% !important;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .topbar{
        display: none !important;
    }
    .top-header{
        display: none !important;
    }
    .Header{
        padding: 0% !important;
    }
    .header-bottom{
        display: none !important;
    }
    .mobile-header{
        display: block !important;
    }
    #add{
        display: block !important;
    }
    #add2{
        display: none !important;
    }
    .Carousel-item img{
        height: 230px !important;
        width: 230px !important;
    }
    .Carousel-item-text{
        width: 50% !important;
        top: 0px;
        
     }
     .RecentlyViewed-card{
         display: unset !important
     }
 }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    #email{
        display: none !important;
    }
 }

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
    
 }

 @media (min-width: 991.98px) {
    .mobile-header{
        display: none !important;
    }
 }
/* // XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */




.LogoNew {
    color: red;
    letter-spacing: 3px;
    margin: 0%;
}

.LogoNew h2 {
    color: #FDD700;

    margin: 0%;
}

.LogoNew span {
    color: #000;
    margin: 0%;
    letter-spacing: 8px;
}